<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.sistemagte.gte">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_gte_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gte_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Contato" />
        <activity android:name=".Cadastro" />
        <activity android:name=".cad_motorista" />
        <activity android:name=".cad_escola" />
        <activity
            android:name=".cad_monitora"
            android:label="@string/title_activity_cad_monitora"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadVanActivity"
            android:label="@string/title_activity_cad_van"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CRUD" />
        <activity android:name=".CRUD_editar" />
        <activity android:name=".CRUD_deletar" />
        <activity android:name=".Painel_adm" />
        <activity android:name=".Funcionario" />
        <activity android:name=".RecuperarSenha" />
        <activity android:name=".Painel_motorista" />
        <activity android:name=".Painel_monitora"></activity>
    </application>

</manifest>