<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.sistemagte.gte">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Auxiliares.GlobalUser"
        android:allowBackup="true"
        android:icon="@mipmap/ic_gte_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gte_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Contato" />
        <activity android:name=".Cadastro" />
        <activity android:name=".cad_motorista" />
        <activity android:name=".cad_escola" />
        <activity android:name=".Painel_adm" />
        <activity android:name=".Funcionario_adm" />
        <activity android:name=".RecuperarSenha" />
        <activity android:name=".Painel_motorista" />
        <activity android:name=".Painel_monitora" />
        <activity android:name=".cad_crianca" />
        <activity android:name=".cad_monitor" />
        <activity android:name=".cad_van" />
        <activity android:name=".Painel_responsavel" />
        <activity android:name=".CriancaListagemAdm" />
        <activity android:name=".Acessos" />
        <activity android:name=".vans" />
        <activity android:name=".Mensalidades_adm" />
        <activity android:name=".Editar_perfil_resp" />
        <activity android:name=".editarMotorista" />
        <activity android:name=".editarMonitora" />
        <activity android:name=".Crianca_resp" />
        <activity android:name=".Cad_funcionario" />
        <activity android:name=".EditarCrianca" />
        <activity android:name=".Cad_crianca_Adm" />
        <activity android:name=".EditarCriancaAdm" />
        <activity android:name=".Escolas" />
        <activity android:name=".Responsavel" />
        <activity android:name=".EditarEscola" />
        <activity android:name=".EditarFunc" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".EditarVan" />
        <activity android:name=".CadResponsavel" />
        <activity android:name=".ListagemCriancaMonitor" />
        <activity android:name=".ListagemCriancasMotorista" />
        <activity android:name=".ListagemVanMotorista" />
        <activity android:name=".Editar_perfil_motorista" />
        <activity android:name=".EditarPerfilMonitora" />
        <activity android:name=".EditarResponsavelAdm" />
        <activity android:name=".CadMensalidade" />
        <activity android:name=".EditarMensalidade" />
        <activity android:name=".ListagemMensalidadeResp" />
        <activity android:name=".Empresa" />
        <activity android:name=".Enquete" />
        <activity android:name=".Rotas" />
        <activity android:name=".Faltas" />
        <activity android:name=".CheckListMonitora" />
        <activity android:name=".SelecionarVanMonitoraParaCheckList" />
        <activity android:name=".EditarEndereco" />
        <activity android:name=".cad_motorista_adm" />
        <activity android:name=".CadMonitoraAdm" />
        <activity android:name=".Graficos" />
        <activity android:name=".WebViewGraficos"></activity>
    </application>

</manifest>